source: https://iaas.msu.ru/science/vestnik/

3 Требования к оформлению статей
3.1. Общие требования
 • Объём статьи не должен превышать:
 ◦ 30 тыс. знаков с пробелами для докторов и кандидатов наук;
 ◦ 20 тыс. знаков с пробелами для аспирантов и магистрантов.
 • Шрифт: Times New Roman, кегль 12, интервал 1,5.
 • Шрифт сносок: Times New Roman, кегль 10, интервал 1.
 • Абзацный отступ: 1,25 см.
 • Иллюстрации, схемы и таблицы предоставляются отдельными файлами.
 • Все страницы рукописи нумеруются, включая список литературы.
 • Формат файла: doc/docx.
 
3.2. Структура статьи
 
На русском языке:
 • УДК
 • НАЗВАНИЕ СТАТЬИ (полужирный, прописные буквы, 14 пт);
 • Ф.И.О. автора(ов) (полужирный, 14 пт);
 • Полное название научного учреждения, его адрес (курсив, 12 пт);
 • Информация об авторах (в сноске);
 • Аннотация: (полужирный, курсив, 200–300 слов);
 • Ключевые слова: (полужирный, курсив, 5–7);
 • Финансирование (при наличии);
 • Для цитирования: Ф.И.О. автора. Название статьи // Вестн. Моск. ун-та. Сер. 13. Востоковедение. Год. Т. XX, № X. С. 00–00. DOI: 10.55959/MSU0320-8095-13-00-0-0.
 • Основной текст (разделы, подзаголовки допускаются);
 • Список литературы (полужирный).
На английском языке:
 • TITLE OF THE ARTICLE (bold, uppercase, 14 pt);
 • Author(s) (First name, Middle initial, Last name) (bold, 14 pt);
 • Full institution name, address (italic, 12 pt);
 • About the author(s);
 • Abstract: (bold, italic, 200–300 words);
 • Key words: (bold, italic, 5–7);
 • Funding (if applicable);
 • For citation: Author(s). Title of the article. Lomonosov Oriental Studies Journal, Year, Vol. XX, No. X, pp. 00–00. DOI: 10.55959/MSU0320-8095-13-00-0-0 (In Russ.).
 • References (bold).
3.3. Оформление ссылок и списка литературы
 • Ссылки оформляются в виде подстрочных примечаний с полным библиографическим описанием.
 • Примечания нумеруются сквозной нумерацией.
 • В «Списке литературы» источники располагаются:
 1 На русском языке (кириллица) — в алфавитном порядке.
 2 На западных языках (латиница) — в алфавитном порядке.
 3 На восточных языках (иероглифика) — в алфавитном порядке.
 • Названия работ на восточных языках транслитерируются кириллицей и переводятся на русский в квадратных скобках.
3.4. Оформление списка References
 • Следует сохранить порядок расположения источников, как в «Списке литературы».
 • Названия книг, статей и сборников выделяются курсивом.
 • Оформление на русском и восточных языках включает:
 ◦ Транслитерацию фамилий авторов;
 ◦ Транслитерацию названия публикации (курсив);
 ◦ Перевод названия на английский (в квадратных скобках);
 ◦ Выходные данные на английском языке.
 • В конце каждой ссылки указывается язык публикации: (In Russ.), (In Arab.) и т. д.

 4 Информация об авторах
На русском языке:
 • Ф.И.О. (полужирный);
 • Учёная степень, звание;
 • Должность, место работы;
 • Email.
На английском языке:
 • Full name (First name, Middle initial, Last name) (bold);
 • Academic degree, title;
 • Position, institution;
 • Email.
